@page
@model Jarai.CSharp.UserInterface.CoreWebApp.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Seminar</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seminar.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seminar.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seminar.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seminar.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Seminar?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
